html, body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

#gameCanvas {
    width: 99vw;
    height: 90vh;
}

#connectBar {
    display: flex;
    margin: 15px 0px;
    gap: 5px;
}