html, body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

#gameCanvas {
    width: 97vw;
    height: 80vh;
}

#connectBar {
    display: flex;
    gap: 5px;
}

div.v_space {
    margin: 15px 0px;
}